.mainPage{
    @extend %section;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    .mainContent{
        h2{
            margin: 30px 0;
            font-size: 50px;
        }
        @include breakPoint(Extra-small){
            h2{
                font-size: 35px;
            }
        }
        button{
            font-size: 18px;
            font-weight: 500;
            padding: 7px 60px;
            background: none;
            color: $redR;
            border: 2px solid $redR;
            cursor: pointer;
            transition: color 0.5s, background 0.5s ease-in;
            &:hover{
                background: $redR;
                color: white;
                transition: color 0.5s, background 0.5s ease-in;
            }
        }
    }
}